/web/bundles/
/app/Resources/public/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/config/deploy.rb
/build/
/vendor/
/composer.phar
/bower_components/
/npm-debug.log
node_modules/