
<!-- copiado del Loyaut-01-->
<div class="inset" hide-sm></div>
<div layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-header>
        </md-card-header>
        <md-card-content>
            <h2>Appointments</h2>
            <md-list>
                <md-list-item ng-repeat="item in vm.allAppointments">

                    <div class="md-list-item-text">
                        <h3>[[ item.date | date:"MM/dd/yyyy" ]] </h3>
                        <h4>[[ item.customer.first_name ]] [[ item.customer.last_name ]]</h4>
                        <p>[[ item.notes ]]</p>
                    </div>
                    <md-divider></md-divider>



                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item layout class="inset">
                </md-list-item>
            </md-list>



        </md-card-content>
    </md-card>
</div>
