
<!-- copiado del Loyaut-01-->
<div class="inset" hide-sm></div>
<div layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-header>
        </md-card-header>
        <md-card-content>
            <h2>Customers</h2>
            <md-list>
                <md-list-item ng-repeat="item in vm.allCustomers">
                    <img ng-src="{{ asset('assets/img/male.png') }}" class="md-avatar"
                         alt="[[ item.first_name ]] [[ item.last_name ]]"/>

                    <div class="md-list-item-text">
                        <h3>[[ item.first_name ]] [[ item.last_name ]]</h3>
                        <h4>[[ item.address ]]</h4>
                    </div>
                    <md-divider></md-divider>



                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item layout class="inset">
                </md-list-item>
            </md-list>



        </md-card-content>
    </md-card>
</div>
