<md-list>
    <md-list-item class="md-2-line" ng-repeat="customer in vm.allCustomers">
        <img ng-src="" class="md-avatar" alt="[[ customer.first_name ]] [[ customer.last_name ]]" />
        <div class="md-list-item-text">
            <h3>[[ customer.first_name ]] [[ customer.last_name ]]</h3>
        </div>
    </md-list-item>
</md-list>